<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net45" />
  <package id="ExcelMapper" version="5.0.46" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.11.7" targetFramework="net45" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net45" />
  <package id="NPOI" version="2.4.1" targetFramework="net45" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net45" />
  <package id="WatiN" version="2.1.0" targetFramework="net45" />
</packages>